*.fig
*.pdf
.DS_Store
*.asv
doubletPlotTest.mat
spikesData.mat
Boxplots/
Figures/
tripletPlots/
Pair Analysis Codes/Bin size scripts/
Pair Analysis Codes/Plots with Dirk Model/
Pair Analysis Codes/Plots with linear fit/
