*.fig
*.pdf
.DS_Store
*.asv
doubletPlotTest.mat
spikesData.mat
Boxplots/
Figures/
tripletPlots/
Triplet Neuron Analysis/Bin size scripts/
Triplet Neuron Analysis/Plots with Dirk Model/
Triplet Neuron Analysis/Plots with linear fit/
